body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-rows: 100px 400px;
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.display {
    grid-row: 1;
    background-color: #444;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.btn {
    font-size: 1.5em;
    padding: 20px;
    background-color: #555;
    border: 1px solid #444;
    color: white;
    cursor: pointer;
}

.btn:active {
    background-color: #888;
}
